@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
}
header {
    display: flex;
    position: fixed;
    /* border: 2px solid white; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: black;
    justify-content: space-around;
    height: 180px;
}     
}
.logo {
    height: 165px;
    width: 200px;
    margin: 15px 0 0 15px;
}
nav {
    width: 600px;
    height: 165px;
   
    
}
.list_nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 165px;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
.lista_n {
    background-color: black;
    color: white;
    text-decoration: none;
} 
.lista_n:hover {
    background-color: darkgrey;
    color: black;
    width: 50px;
    height: 30px;
    text-decoration: none;
}
.nav-menu {
    display: none;
}
.portada {
    position: relative;;
    /* border: 2px  solid white; */
    margin-top: 200px;
    /* width: 60vw;
    height: 40vh; */
    display: flex;
    justify-content: center;
}
.biografia {
    margin: 30px 154px;
    width: 70vw;
    display: flex;
    justify-content: center;
}
.bio {
    text-align: center;
    font-family: 'Syne Mono', monospace;
    margin: 5px 15px;
}
.discografia {
    margin: 60px 40px;
    font-family: 'Syne Mono', monospace;
    text-transform: uppercase;
}
.disc {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
.disc_alb {
    display: flex;
    flex-wrap: wrap;
}

.alb1, .alb4, .alb2, .alb3, .alb6, .alb5 {
    width: 60vw;
    max-width: 300px;
    height: 35vh;
    margin: 20px;
}
.alb1, .alb4, .alb2, .alb3, .alb6, .alb5 p {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 43px;
}
.alb6:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.alb1:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.alb2:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.alb3:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.alb4:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.alb5:hover {
    width: 35vw;
    height: 45vh;
    border: 3px inset rgb(37, 35, 35);
    box-shadow: inset 5em 1em rgb(5, 5, 5);
}
.container {
    width: 50%;
    max-width: 512px;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer p {
    font-size: 30px;
    margin: 10px 0px 5px 50px;
}
.footer_span {
    font-size: 20px;
    margin: 10px 50px 5px 0px;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    header {
        height: 20%;
    }
    
    /* .nav-menu {
        display: inline;
        padding: 20px;
        height: 40px;
        margin: -1px -39px -30px -50px;
        width: 40px;
    } */
    .btn-menu {
        color: white;
        display: block;
        padding: 0px;
        text-decoration: none;
    }
    [class^="icon-menu"], [class*=" icon-menu"] {
        font-size: 50px;
        color: #ffffff;
        text-decoration: none;
    }
    header .logo {
        z-index: 60;
    }
    /* nav {
        display: none;
    } */
    nav {
        width: 80%;
        height: 100%;
        margin: 55px 0px 0px -80px;
        position: fixed;
        z-index: 80;
        /* background-color: rgba(0, 0, 0, 0)0, 0, 0, 0.315); */
    }
    .list_nav {
        display: none;
    }
    #me_nu:checked ~ .list_nav {
        display: block;
        height: 100%;
        width: 100%;
        max-width: 430px;
        font-weight: bold;
        font-size: larger;
        margin-left: 40px;
        margin-top: 56px;
        
    }
    #me_nu {
        display: none;
    }
    header nav .list_nav li {
        display:flex;
        border-bottom: 2px solid #a9a9a9;
        height: 140px;
        font-size: 40px;
        align-items: flex-end;
        background-color: black;
        padding: 30px;
    }
    